// Font
$mainFont                : 'Poppins', Helvetica, Arial, sans-serif;

$bodyFontSize            : 16px;
$bodyFontWeight          : 500;
$bodyLineHeight          : 1.5;

$smallFontSize           : 12px;
$smallFontWeight         : 400;
$smallLineHeight         : 1.5;

$textFontSize            : 18px;
$textFontWeight          : 400;
$textLineHeight          : 1.5;

$subheadingFontSize      : 20px;
$subheadingFontWeight    : 500;
$subheadingLineHeight    : 1.5;

$headingFontSize         : 25px;
$headingFontWeight       : 400;
$headingLineHeight       : 1.5;

$subtitleFontSize        : 31px;
$subtitleFontWeight      : 400;
$subtitleLineHeight      : 1.5;

$titleFontSize           : 39px;
$titleFontWeight         : 700;
$titleLineHeight         : 1.45;

$headerFontSize          : 49px;
$headerFontWeight        : 700;
$headerLineHeight        : 1.3;
$headerLetterSpacing     : 0.015em;


// Size
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$black                   : #190C05;
$white                   : #fff;
$primaryColor            : #F6762C;
$footerColor             : #FFE6D9;
$buttonGradient          : linear-gradient(180deg, #F6762C, #C65311 100%);
$blackButtonGradient     : linear-gradient(180deg, $black 0%, rgba(25, 12, 5, 0.79) 100%);